body
{
    color: #3B1F11;
}

.header
{
    background: #FF864A;
    border-color: #FF681C;
}

.header, #menu > ul > li > a , .dropdown a , #secondary , .foot
{
    color: #FFF;
}

.bg
{
    background: #F2DFC5;
}

#menu > ul > li:hover , .dropdown
{
   background: #C26638;
}

.dropdown a:hover
{
    background: #FFF;
    color: #000;
}

#secondary
{
    background: #333;
}

#secondary .hr , #secondary li
{
    border-color: #777;
}

.foot
{
    background: #3B1F11; 
}
