.header
{
    background: #777;
    border-color: red;
}

#menu a
{
    color: #000;
}

#menu > ul > li > a:hover /* Does not affect the list-item inside of dropdown menu */
{
    background: blue;
}

.dropdown
{
    background-color: blue;
}

.dropdown a:hover
{
    background: black;
}

#secondary
{
    background: #222;
    color: #FFF;
}

#secondary .close
{
    outline: 1px dotted white;
}

#secondary .hr
{
    border-color: #888;
}

#secondary li
{
    border-color: #444;
}

.bg
{
    background: red;
}

.content
{
    background: blue;
}

#gallery .descript
{
    background: grey;
}

#feature-list , .feature
{
    background: brown;
}

.foot
{
    background: #333;
    color: #FF0;
}
