.content h1 , .content h2
{
    margin: 15px 0 15px 25px;
}

#gallery , #feature-list , #article-list
{
    position: relative;
    overflow: visible;
    height: 375px;
}

#gallery .img , .feature .img, .article .img
{
    height: 100%;
    width: 100%;
}

#gallery .title , #gallery .descript , #gallery p , .feature .title , .feature .date , .article .date , .article .links
{
    position: absolute;
}

#gallery .title
{
    left: 25%;
    width: 50%;
    top: 25px;
    z-index: 998;
}

#gallery .descript
{
    width: 100%;
    bottom: 0;
    opacity: 0.3;
    height: 100px;
}

#gallery p
{
    padding: 5px 10px 15px;
    max-height: 80px;
    opacity: 1.0;
    overflow: auto;
    bottom: 0;
    line-height: 110%;
}

.feature
{
    height: 75px;
}

.feature .col-70 , .article .col-70
{
    position: relative;
}

.feature .title
{
    top: 10%;
    left: 2%;
}

.feature .date , .article .date
{
    bottom: 5%;
    right: 5%;
}

.article
{
    height: 125px;
}

.article .links
{
    height: 18px;
    bottom: 5%;
}

.article .title , .article .synopsis
{
    margin-top: 5px;
    line-height: 120%;
}
