#container
{
    margin: 0 auto;
    width: 100%;
}

.left
{
    float: left;
}

.right
{
    float: right;
}

.fixed
{
    position: fixed;
}

.row
{
/*    width: 90%;*/
    padding: 0 5%;
    overflow: none;
    outline: 1px solid green;
    clear: both;
   font-size: 0;
}

.col
{
    height: 100%;
    display: inline-block;
   font-size: 16px;
}

.col-100
{
    width: 100%;
    outline: 1px solid black;
}

.col-70
{
    width: 70%;
    outline: 1px solid blue;
}

.col-30
{
    width: 30%;
    outline: 1px solid red;
}
