#container
{
    margin: 0 auto;
    width: 100%;
}

.left
{
    float: left;
}

.right
{
    float: right;
}

.no-pad
{
    padding: 0 !important;
}

.fixed
{
    position: fixed;
}

.tcenter
{
    text-align: center;
}

.row
{
    padding: 0 5%;
    clear: both;
}

.row-over
{
    overflow: auto;
}

.col
{
    padding: 1%;
    height: 100%;
    display: inline-block;
    font-size: 16px;
}

.col-100
{
    width: 98%;
}

.col-70
{
    width: 68%;
}

.col-60
{
    width: 58%;
}

.col-40
{
    width: 38%;
}

.col-30
{
    width: 28%;
}
