.header
{
    position: relative;
    border-bottom: 4px solid;
    height: 41px;
 }

#menu
{
    position: absolute;
    top: 0;
    right: 6%;
}

.lo
{
    position: absolute;
    top: 0;
    left: 6%;
}

.lo , #menu , #menu ul , #menu li , #menu a , #secondary
{
    display: block;
    height: 100%;
}

#menu > ul > li
{
    display: inline-block; /* Does not affect the list-item inside of dropdown menu */
}

.branding , #menu a , .dropdown
{
    line-height: 40px;  /* centers to nav bar */
}

.branding img
{
    margin-right: 10px;
    margin-top: 16px;
}

.branding img:hover , #secondary img:hover
{
    cursor: pointer;
}

#menu > ul > li /* Does not affect the list-item inside of dropdown menu */
{
    margin-left: 10px;
}

#menu li
{
    position: relative;
}

#menu a
{
    padding: 0 10px;
    text-decoration: none;
}

.dropdown
{
    display: none;
    position: absolute;
    width: 250px;
    z-index: 999;
}

#menu .right
{
    right: 0;
}

#menu .drop-center /* dropdown menu centered on main menu list-item */
{
    left: -70px;
}

#menu li:hover .dropdown
{
    display: block;
}

.dropdown input
{
    border: 1px solid #666;
    border-radius: 5px;
    padding: 5px;
}

#menu > ul > li > a /* Does not affect the list-item inside of dropdown menu */
{
    width: 100px;
}

#secondary
{
    top: 0;
    left: -250px;
    z-index: 1000;
    width: 200px;
    padding: 25px;
}

#secondary .close
{
    position: absolute;
    top: 2%;
    right: 5%;
    width: 14px;
    height: 14px;
}

#secondary .hr
{
    margin: 10px 0 20px 0;
    height: 1px;
    border-bottom: 1px solid;

}

#secondary li
{
    margin: 10px auto;
    text-align: left;
    padding: 5px 25px;
    border: 1px dashed;
}
