#container
{
	margin: 0 auto;
	width: 860px;
}

header
{
	display: inline-block;
	width: inherit;
	outline: 1px solid black;
}

header .second-link
{
	width: 65px;
	height: 25px;
}

header #secondary
{
	display: none;
}

header img, .branding
{
	float: left;
	margin-left: 5px;
}

header nav
{
	text-align: right;
	margin-right: 5px;
}

header li
{
	display: inline-block;
}

section
{
	display: table-row;
	outline: 1px solid red;
}

#gallery
{
	width: 602px;
	display: table-cell;
	outline: 1px solid black;
	overflow: hidden;
}

#carousel
{
	text-align: center;
	height: 350px;
	position: relative;
	outline: 1px solid red;
}

#carousel .title
{
	position: absolute;
	width: 100%;
	top: 5%;
}

#carousel .img
{
	background-color: #222;
}

.hr
{
	margin: auto;
	margin-bottom: 10px;
	display: block;
	width: 75%;
	height: 2px;
	background-color: #999;
}

.descript
{
	height: inherit;
}

aside
{
	width: 258px;
	display: table-cell;
	overflow: hidden;
	outline: 1px solid red;
}

#feature-list
{
	overflow: hidden;
	display: table-row;
	outline: 1px solid purple;
}

#feature-list .col1
{
	width: 30%;
	height: inherit;
	float: left;
	display: table-cell;
	text-align: center;
	outline: 1px solid blue;
}


.thumbnail
{
	width: 50px;
	height: 50px;
	background-color: #444444;
}


#feature-list .col2
{
	width: 70%;
	float: left;
	display: table-cell;
	height: inherit;
	outline: 1px solid red;
}

#articles
{
	overflow: auto;
	height: 1%;
	outline: 1px solid black;
}

#articles .col1
{
	width: 30%;
	float: left;
	outline: 1px solid red;
	text-align: center;
}

article .img
{
	background-color: #000;
	width: 150px;
	height: 100px;
}

#articles .col2
{
	width: 70%;
	float: right;
	outline: 1px solid blue;
}

footer
{
	width: inherit;
	outline: 1px solid blue;
	text-align: center;
}