/*body
{
	color: #E3E3E3;
	background-color: #A67B7B;
}*/

#container
{
	margin: 0 auto;
	width: 860px;
	outline: 1px solid black;
}

#container img
{
	width: 25px;
	height: 25px;
}

header
{
	display: inline-block;
	width: 100%;
	padding: 5px;
	outline: 1px solid green;
}

header #secondary
{
	display: none;
}

header img, .branding
{
	float: left;
}

header nav{
	float: right;
}

header li
{
	display: inline-block;
}