body
{
	background-color: #2B0808;
}

#container
{
	margin: 0 auto;
	width: 100%;
	background-color: #FFF;
}

h1
{
	font-family: "Heading Bold";
	font-size: 1.65em;
	letter-spacing: .1em;
}

.emphasis
{
	color: red;
}

header
{
	padding: 0 2%;
	background-color: #000;
	color: #C9C9C9;
	display: inline-block;
	width: 96%;
}

header .second-link
{
	width: 65px;
	height: 25px;
}

header #secondary
{
	display: none;
}

header img, .branding
{
	float: left;
}

.branding
{
	font-family: "Heading";
	font-size: 1.25em;
	word-spacing: -3px;
}

header nav
{
	text-align: right;
	margin-right: 5px;
}

header li
{
	display: inline-block;
}

section
{
	display: table-row;
}

#gallery
{
	outline: 1px solid red;
	padding: 0 2%;
	width: 64%;
	display: table-cell;
	overflow: hidden;
}

#carousel
{
	text-align: center;
	min-height: 350px;
	position: relative;
}

#carousel .title
{
	position: absolute;
	width: 100%;
	top: 5%;
}

#carousel .img
{
	background-color: #222;
	height: 400px;
}

.hr
{
	margin: auto;
	margin-bottom: 10px;
	display: block;
	width: 75%;
	height: 2px;
	background-color: #999;
}

.descript
{
	height: inherit;
}

aside
{
	outline: 1px solid blue;
	padding: 0 2%;
	width: 26%;
	display: table-cell;
	overflow: hidden;
}

aside h2
{
	outline: 1px solid black;
}

#feature-list
{
	outline: 1px solid purple;
	width: 100%;
	overflow: hidden;
	display: block;
}

#feature-list .col1
{
	width: 30%;
	outline: 1px solid red;
	height: inherit;
	float: left;
	text-align: center;
}


.thumbnail
{
	width: 50px;
	height: 50px;
	background-color: #444444;
}


#feature-list .col2
{
	outline: 1px solid blue;
	width: 70%;
	float: left;
}

#articles
{
	padding: 0 2%;
	outline: 1px solid blue;
	overflow: auto;
	height: 1%;
}

#articles .col1
{
	outline: 1px solid red;
	width: 30%;
	float: left;
	text-align: center;
}

article .img
{
	background-color: #000;
	width: 250px;
	height: 150px;
}

#articles .col2
{
	outline: 1px solid blue;
	width: 70%;
	float: right;
}

footer
{
	background-color: #2B0808;
	width: inherit;
	text-align: center;
}